MONGO_URI=mongodb+srv:...
ANTHROPIC_API_KEY=
NEXT_PUBLIC_ALLOWED_ORIGIN=http://localhost:5173
NEXT_PUBLIC_ALLOWED_ORIGIN_1=http://localhost:3000
NEXT_PUBLIC_ALLOWED_ORIGIN_2=https://any_other_url
ALLOWED_ORIGIN=https://any_other_url

# Auth & Sessions
AUTH_SECRET=
AUTH_URL=http://localhost:3001